<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/banner.css">
    <link rel="stylesheet" href="/static/css/addArticle.css">
</head>
<body>
<div class="banner_title">
    <img src="/static/img/banner_title.jpg" class="banner_title_img">
    <h1 class="banner_h1">文章发布系统</h1>
    <p class="banner_exit"><a href="/logout">退出</a></p>
</div>

<div class="banner_left">
    <img src="/static/img/banner_left.jpg" class="banner_left_img">
    <img src="/static/img/head_photo.jpg" class="head_photo_img">
    <p class="banner_left_p">欢迎您 <span>{{.name}}</span></p>
    <p><a href="#" class="banner_left_mang">文章管理</a></p>
    <p><a href="/showArticleList" class="banner_left_sim">文章列表</a></p>
    <p><a href="/addArticle" class="banner_left_sim">添加文章</a></p>
    <p><a href="/addType" class="banner_left_sim">添加分类</a></p>
</div>

<div class="banner_center">
    <p class="banner_center_p">当前位置:文章管理/文章列表/查看详情</p>
    <p class="addArticle_add">文章详情</p>
    <p class="addArticle_content">文章标题:&nbsp;&nbsp;<span class="addArticle_content_span">{{.article.ArtiName}}</span></p>
    <p class="addArticle_content">文章类型:&nbsp;&nbsp;{{.article.ArticleType.TypeName}}</p>
    <p class="addArticle_content">文章内容:&nbsp;&nbsp;{{.article.Acontent}}</p>
    <p class="addArticle_content">阅读次数:&nbsp;&nbsp;{{.article.Acount}}</p>
    <p class="addArticle_content">最近浏览:&nbsp;&nbsp;{{range .users}} {{.Name}} {{end}}</p>
    <p class="addArticle_content">创建时间:&nbsp;&nbsp;{{.article.ArtiTime}}</p>
</div>
</body>
</html>